/*----------------------------------------------------------------------------*\
 * C HEADING SCSS
\*----------------------------------------------------------------------------*/

.c-hdr {
    display: flex;
    flex-direction: column;
    gap: var(--wbd-xs);

    >* {  max-width: var(--wbd-col-8); }
    &_desc { font-size: var(--wbd--1); }
    
/*----------------------------------------------------------------------------*/
} // end CSS
