/*----------------------------------------------------------------------------*\
 * FONTS
\*----------------------------------------------------------------------------*/
// https://transfonter.org
// https://www.fontsquirrel.com/tools/webfont-generator
// https://icomoon.io/app
// http://fontello.com

// Defaults Glyphes:
  // !"#$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`abcdefghijklmnopqrstuvwxyz{|}~¡¢£¥¨©«®´¸»¿ÀÁÂÄÅÆÇÈÉÊËÍÎÏÑÓÔÖÙÚÛÜßàáâäåæçèéêëíîïñóôöùúûüÿŒœŸˆ˚˜–—‘’‚“”„•…‹›€™

body {
    --wbd-f1: 'DM Sans', Helvetica, Arial;
    --wbd-f2: 'EB Garamond', Helvetica, Arial;
}

@font-face {
    font-family: 'Deficons';
    src: url('../../fonts/deficons/Deficons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../../fonts/EBgaramond/subset-EBGaramond-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../../fonts/EBgaramond/subset-EBGaramond-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../../fonts/DMsans/subset-DMSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*----------------------------------------------------------------------------*/
// end CSS

