/*----------------------------------------------------------------------------*\
 * S TRANSITION
\*----------------------------------------------------------------------------*/

body {
    --wbd-transi-time : 400ms;
    --wbd-bezier : cubic-bezier(0.165, 0.84, 0.44, 1);
    --wbd-transi : all var(--wbd-transi-time) var(--wbd-bezier);
}

/*----------------------------------------------------------------------------*/
// end CSS