/*----------------------------------------------------------------------------*\
 * GENERAL CURSOR
\*----------------------------------------------------------------------------*/

    html.custom-cursor,
    html.custom-cursor a {
        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFBAMAAAB/QTvWAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAABVQTFRFCgoKBQUFBQUFBAQEDAwMAQEBAwMDC9zFlQAAAAd0Uk5TIL//zyAgIAOoCTIAAAAcSURBVHicY2BUdmAwUhJgUFJSYBBSMmAIVkwAABQ2AmW+r7YzAAAAAElFTkSuQmCC), auto !important;
    }

    [data-cursor] {
        border-radius: 50%;
        margin-left: 2px;
        margin-top: 2px;
        z-index: 999;
    }

    [data-cursor="0"] {
        transition: var(--wbd-transi);
        border: 3px solid rgba(var(--wp--preset--color--thm-6--rgb), .5);
        background: rgba(var(--wp--preset--color--thm-6--rgb), .1);
        height: var(--wbd-m);
        width: var(--wbd-m);
    }

    .cursor-hover--a [data-cursor="0"] {
        mix-blend-mode: plus-lighter;
        background-color: rgba(var(--wp--preset--color--thm-6--rgb), .5);
        border-color: rgba(var(--wp--preset--color--thm-6--rgb), .5);
        height: var(--wbd-3xl);
        width: var(--wbd-3xl);
    }

/*----------------------------------------------------------------------------*/
// end CSS