/*----------------------------------------------------------------------------*\
 *  G DESK NAV HEADER
\*----------------------------------------------------------------------------*/

.g-desk-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  font-size: var(--wbd-0);
  gap: var(--wbd-2xs);

  .sub-menu {
    text-transform: initial;
    color: var(--thmTxt);
    padding: var(--wbd-2xs);
  }

  .menu-item-has-children > a {
    align-items: center;
    display: flex;
  }

  > li > a {
    font-weight: 500;
    margin: 0 var(--wbd-2xs);
  }
  
  [class*='has-child'] > :is(a, button):after {
    display: inline-block;
    font-family: "Deficons";
    transform: translateY(-.15em) rotate(90deg);
    margin-left: var(--wbd-3xs);
    margin-top: -.1em;
    font-size: .7em;
    content: "\e92b";
  }

  li:hover > ul {
    pointer-events: initial;
    margin-top: var(--wbd-3xs);
    opacity: 1;
  }

  :is(li > a, li > button) {
    transition: var(--wbd-transi);
  }

  ul {
    display: flex;
    position: absolute;
    pointer-events: none;
    flex-direction: column;
    background: var(--wp--preset--color--thm-02);
    transition: var(--wbd-transi);
    box-shadow: 0 0 0 1px var(--wp--preset--color--thm-01), -3px 3px 0 0px var(--tr);
    line-height: 1.38;
    font-weight: 500;
    opacity: 0;
    &:before {
      content: '';
      position: absolute;
      transform: translateY(-100%);
      width: 100%;
      height: 20px;
      top: 16px;
    }

    :is(a, button):before {
      content: 'â™';
      position: absolute;
      transition: var(--wbd-transi);
      opacity: 0;
      left: -5px;
    }

    :is(a, button):hover {
      transform: translateX(5px);
      &:before {
        opacity: 1;
        left: 0;
      }
    }

    li:hover {
      background: rgba(var(--wp--preset--color--thm-01--rgb), .2);
    }

    [class*='has-child'] > :is(a, button):after {
      transform: translateX(-50%);
      position: absolute;
      right: 10px;
      top: 15px;
    }
    
    ul {
      margin-left: 15px;
      left: 100%;
      top: -1em;
      &:before {
        content: '';
        position: absolute;
        transform: translateY(-100%);
        height: 100%;
        left: -15px;
        width: 20px;
        top: 100%;
      }
    }
    
    li {
      + li { border-top: 1px solid rgba(var(--wp--preset--color--thm-02--rgb), .1); }
      position: relative;
      text-align: left;
    }
    
    :is(li>a, li>button) {
      display: block;
      text-align: left;
      padding: 10px 20px 10px 10px;
      min-width: 180px;
    }

  }

/*----------------------------------------------------------------------------*/
} // end CSS