/*----------------------------------------------------------------------------*\
  *  U FLEX
\*----------------------------------------------------------------------------*/
.u-f100 { flex: calc(100% - var(--wbd-s-m) * 2); }
.u-f75 { flex: calc(75% - var(--wbd-s-m) * 2); }
.u-f66 { flex: calc(66% - var(--wbd-s-m) * 2); }
.u-f50 { flex: calc(50% - var(--wbd-s-m) * 2); }
.u-f33 { flex: calc(33% - var(--wbd-s-m) * 2); }
.u-f25 { flex: calc(25% - var(--wbd-s-m) * 2); }

/*----------------------------------------------------------------------------*/
// end CSS
