/*----------------------------------------------------------------------------*\
  *  U SPACERS
   * variables in settings/s-spacers
\*----------------------------------------------------------------------------*/

  .u-py0 { padding-block: var(--wbd-xs); }
  .u-py1 { padding-block: var(--wbd-m); }
  .u-py2 { padding-block: var(--wbd-l); }
  .u-py3 { padding-block: var(--wbd-l-xl); }
  .u-py4 { padding-block: var(--wbd-l-2xl); }
  .u-py5 { padding-block: var(--wbd-l-3xl); }
  .u-py6 { padding-block: var(--wbd-l-4xl); }

  .u-px0 { padding-inline: var(--wbd-s); }
  .u-px1 { padding-inline: var(--wbd-m); }
  .u-px2 { padding-inline: var(--wbd-l); }
  .u-px3 { padding-inline: var(--wbd-m-xl); }
  .u-px4 { padding-inline: var(--wbd-m-2xl); }
  .u-px5 { padding-inline: var(--wbd-m-3xl); }
  .u-px6 { padding-inline: var(--wbd-m-4xl); }

  .u-p0 { padding: var(--wbd-s); }
  .u-p1 { padding: var(--wbd-m); }
  .u-p2 { padding: var(--wbd-l); }
  .u-p3 { padding: var(--wbd-m-xl); }
  .u-p4 { padding: var(--wbd-m-2xl); }
  .u-p5 { padding: var(--wbd-m-3xl); }
  .u-p6 { padding: var(--wbd-m-4xl); }

/*----------------------------------------------------------------------------*/
// end CSS
