/*----------------------------------------------------------------------------*\
 * B GALL LG
\*----------------------------------------------------------------------------*/

.b-gall-lg {
  overflow: hidden;

  [class*='o-ctn'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--wbd-gut-1);
  }

  :is([class*='c-hdr'], [class*='c-hdr']>*) {
    margin-inline: auto;
    text-align: center;
  }

/*----------------------------------------------------------------------------*/
} // end CSS
